// Config
$color-pack: false;
// Border Radius
$border-radius-root: 16px;
// Font Family
$body-font-family: 'Ubuntu Mono', monospace, sans-serif;
// Shadow Keys
$shadow-key-umbra-opacity: rgba(0, 0, 0, 0.015) !default;
$shadow-key-penumbra-opacity: rgba(0, 0, 0, 0.045) !default;
$shadow-key-ambient-opacity: rgba(0, 0, 0, 0.07) !default;
// Spacing
$spacer: 4px;
// Material
$material-dark-elevation-colors: (
	'0': #040506,
	'1': #0d0f11,
	'2': #16191d,
	'3': #1f2328,
	'4': #282d34,
	'6': #31373f,
	'8': #3a414b,
	'12': #434b56,
	'16': #4c5562,
	'24': #555f6d
);
$material-dark: (
	'background': #121417,
	'app-bar': #121417,
	'toggle-buttons': (
		'color': currentColor
	),
	'cards': map-get($material-dark-elevation-colors, '2')
);
$material-light: (
	'background': #f7f7f7,
	'app-bar': #f7f7f7,
	'toggle-buttons': (
		'color': currentColor
	)
);
// Card
$card-title-word-break: break-word;
// Chip
$chip-label-border-radius: $border-radius-root / 2;
// Dialog
$dialog-elevation: 24;
// Timeline
$timeline-divider-center: 25%;
$timeline-divider-width: 64px;
