// Config
$color-pack: false;
// Border Radius
$border-radius-root: 16px;
// Font Family
$body-font-family: 'Ubuntu Mono', monospace, sans-serif;
// Shadow Keys
$shadow-key-umbra-opacity: rgba(0, 0, 0, 0.015) !default;
$shadow-key-penumbra-opacity: rgba(0, 0, 0, 0.045) !default;
$shadow-key-ambient-opacity: rgba(0, 0, 0, 0.07) !default;
// Spacing
$spacer: 4px;
// Material
$material-dark: (
	'background': #181818,
	'app-bar': #181818,
	'toggle-buttons': (
		'color': currentColor
	)
);
$material-light: (
	'background': #f7f7f7,
	'app-bar': #f7f7f7,
	'toggle-buttons': (
		'color': currentColor
	)
);
// Card
$card-title-word-break: break-word;
// Chip
$chip-label-border-radius: $border-radius-root / 2;
// Dialog
$dialog-elevation: 24;
// Timeline
$timeline-divider-center: 25%;
$timeline-divider-width: 64px;
